<div [formGroup]="form">
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input formControlName="complexity" matInput />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input formControlName="details" matInput />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input formControlName="completedPercentage" matInput />
  </mat-form-field>
</div>
