<div class="form-container" [formGroup]="configuratorForm">

  <mat-form-field class="form-title">
    <input placeholder="Enter form title here" matInput type="text" formControlName="title">
  </mat-form-field>


  <div class="form-array-container" formArrayName="items">
    <div class = "form-array-item" *ngFor="let item of items.controls; let i=index">

      <div [ngSwitch]="controlTypes[i]">
        <app-input formControlName="{{i}}" *ngSwitchCase="types.input"> </app-input>
        <app-select formControlName="{{i}}" *ngSwitchCase="types.select"> </app-select>
        <app-checkbox formControlName="{{i}}" *ngSwitchCase="types.checkbox"> </app-checkbox>
        <app-radio-button formControlName="{{i}}" *ngSwitchCase="types.radioButton"> </app-radio-button>
        <app-textarea formControlName="{{i}}" *ngSwitchCase="types.textarea"> </app-textarea>
      </div>

    </div>
  </div>
</div>

<button mat-flat-button (click)="addInput()">
  Add input
</button>

<button mat-flat-button (click)="addSelect()">
  Add select
</button>

<button mat-flat-button (click)="addCheckbox()">
  Add checkbox
</button>

<button mat-flat-button (click)="addRadioButton()">
  Add radio button
</button>

<button mat-flat-button (click)="addTextarea()">
  Add textarea
</button>


<button mat-button (click)="submit()">
  Submit?
</button>
